.banner {
    position: relative;
    color: #fff;
    text-align: center;
    height: 400px;
  }
  
  .siteTitle{
    float: right;
    margin: 2em;
  }

  .siteMainTitle{
    font-size: 3em;
    font-weight: bold;
  }

  .siteSubTitle{
    font-size: 2.5em;
  }